<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="header">Welcome to BioDB</h1>
    <p id="description">App that helps you manage your biological research</p>
    <form id="login_form" action="index.html" method="post">
      <input id="login_input" name="" value="">
      <input id="email_input" type="text" name="" value="">
      <input id="password_input" type="text" name="" value="">
      <input id="confirm_input" type="text" name="" value="">
    </form>
    <a id="sign_up_link" href="#">Sign up</a>
  </body>
</html>
