<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="sign_up_form" action="index.html" method="post">
      <input id="username_input" placeholder="username" name="" value="">
      <input id="email_input" placeholder="email" name="" value="">
      <input id="password_input" placeholder="password" name="" value="">
      <input id="confirm_input" placeholder="confirm password" name="" value="">
      <button id="submit_button">Submit</button>
    </form>
  </body>
</html>
