Django>=1.11.3
easy_thumbnails
django-guardian
django-ckeditor
django-tables2
django-addanother
django-simple-history
openpyxl
beautifulsoup4
# problems with cairocffi 0.7 and 0.8 to install weasyprint
cairocffi==0.6
weasyprint
